.menu-holder
    .menu#menu
        .left-side
            .logo-holder
                img(src="img/icons/logo.svg", alt="logo", data-scroll-to=1)
        .right-side
            ul
                li
                    a(href="#", data-scroll-to=4) стать партнером
                li
                    a(href="#") ru
            .logo-holder
                img(src="img/icons/text_logo.svg", alt="text logo")
            ul
                li
                    a(href="#", data-scroll-to=5) контакты
                li.menu-toggle#js-menu-toggle
                    a(href="#") виды услуг
            .hamburger.hamburger--slider#js-burger-toggle(type="button")
                .hamburger-box
                    .hamburger-inner
        ul.mobile-menu#js-mobile-menu
            li
                a(href="#") стать партнером
            li
                a(href="#") контакты
            li
                a(href="#") ru