section.map {
  position: relative;
  .section-container {
    .col:last-child {
      width: 100%; 
      background-color: transparent;
    }
    .col:first-child {
      position: relative;
      z-index: 2;
      .content-holder {
        opacity: 0;
        max-width: 460px;
        width: 100%;
        margin-top: 175px;
        margin-left: 17.5%;
        @include desktop{
          margin-top: 125px;
        }
        h3 {
          margin-top: 20px;
        }
        @include mobile {
          opacity: 1;
          margin-top: 350px;
          margin-left: 0;
          h3 {
            margin-top: 15px;
          }
        }
        @include tablet {
          margin-top: 250px;
        }
      }
    }
  }
  .footer {
    opacity: 0;
    position: absolute;
    z-index: 5;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 245px;
    background: $main-grey;
    h3{
      font-weight: 400;
    }
    .image-holder{
      max-width: 130px;
      margin-top: 50px;
    }
    .content-holder {
      margin-top: 70px;
      display: flex;
      justify-content: space-between;
    }
    .socials-holder {
      display: flex;
      justify-content: space-between;
      width: 125px;
    }
    .contacts-holder {
      width: 540px;
      display: flex;
      justify-content: space-between;
    }
    @include mobile {
      opacity: 1;
      height: 83px;
      .content-holder {
        margin-top: 20px;
      }
      .contacts-holder {
        width: auto;
      }
      .socials-holder {
        width: 105px;
      }
      h3 {
        font-size: 8px;
        letter-spacing: 1px;
        line-height: 9px;
      }
    }
  }
}
