section.inner-section.avoid-assasination
    .container.section-container
        .col
            .content-holder
                h1 помогаем<br/>избежать<br/>покушение
                p Каждый раз, приступая к новой задаче, мы разрабатываем индивидуальную концепцию безопасности: определяем уровень безопас-ности, степень безопасности (количество охраняемых лиц и имущества) и способ реализации безопасности.
                p В САРМАТ работают лучшие люди. Мы приглашаем лучших к нам в команду. Каждый телохранитель-сармат обучался у команды первоклассных экс-сотрудников СБУ и МВД, экспертов и чемпионов мира в области еди-ноборств в Center-A (г. Бровары).
        .col
            .image-holder
                img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")