section.inner-section.cyber-security
    .container.section-container
        .col
            .content-holder
                h1.hide-mobile кибер<br/>безопасность
                h1.show-mobile кибербезопасность
                p Мы защищаем информационное пространство бизнеса
                button Заказать услугу
        .col
            .slider-holder
                .section-slider#js-sybcer-security-slider
                    .slide
                        img(src="img/pictures/cyber-security.jpg", alt="cyber-security")
                    .slide.content-slide
                        .left-side
                            p Разрабатываем систему защиты онлайн активности бизнеса и ключевых сотрудников;
                            p Защищаем онлайн активности бизнеса от несанкционированных действий – неавторизированное копирование, обход лицензионных ограничений;
                            p.hide-mobile Контролируем безопасность внутренних коммуникаций изнеса, информационной системы офиса и персонала.
                        .right-side
                            h2 персональная<br/>безопасность<br/>и безопасность<br/>бизнеса
                    .slide.content-slide
                        .left-side
                            p Анализируем существующие информационные системы;
                            p Разрабатываем систему информационной безопасности бизнеса;
                            p Разрабатываем план рекомендаций по оптимальным способам защиты онлайн ресурсов;
                            p.hide-mobile  Проверяем надёжность защиты онлайн ресурсов, тестируя систему на проникновение. Чтобы выявить и устранить уязвимые места, мы подконтрольно генерируем большую нагрузку на всех уровнях сетевых протоколов, выявляем и устраняем уязвимые места.
                        .right-side
                            h2 проектирование<br/>и реализация<br/>стратегии<br/>защиты
                    .slide.content-slide
                        .left-side
                            p Если инцидент вторжения уже произошёл, мы:
                            p Разрабатываем инструменты оперативной помощи атакованным системам;
                            p Отслеживаем и обезвреживаем контрольные центры редоносных ПО;
                            p.hide-mobile Расследуем инцидент ­– проводим криминалистическую экспертизу и готовим пакет документов для уголовного дела;
                            p.hide-mobile Составляем план работы по предотвращению инцидентов этого типа.
                        .right-side
                            h2 обработка<br/>инцидентов<br/>компьютерной<br/>забезопасности
    ul.inner-sub-menu
        li
            img(src="img/icons/security.svg")
            h4 охрана<br/>физических лиц
            p Комплексная охрана физических лиц, семьи, жилья, офиса и заго-родного дома. Комплексная охрана работает круглосуточно, днем, ночью, на несколько часов
        li
            img(src="img/icons/transport.svg")
            h4 перевозка<br/>и сопровождение
            p Сопровождаем ценные бумаги, материальные ценности, важные грузы, лиц, которые перевозят ценный груз
        li
            img(src="img/icons/vip-estate.svg")
            h4 элитная<br/>недвижимость
            p Мы контролируем безопасность на любой территории
        li
            img(src="img/icons/vip-buildings.svg")
            h4 охрана<br/>vip заведений
            p Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы
        li.active
            img(src="img/icons/cyber-security-active.svg")
            h4 охрана<br/>vip заведений
            p Мы защищаем информационное пространство бизнеса