.content-holder.form-holder.js-form-holder
    .form-content
        form
            input(type="text" placeholder="имя" required)
            input(type="email" placeholder="email" required)
            input(type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="телефон в формате XXX-XXX-XXXX" required)
            button(type="submit").js-form-submit Заказать услугу
        img.cross.js-close-form(src="img/icons/cross.svg", alt="cross")
.content-holder.form-holder.js-thanks-holder
    .thanks-content
        h2 Спасибо
        h4 менеджер сармат свяжется с вами после обработки запроса
        img.cross.js-close-form(src="img/icons/cross.svg", alt="cross")