<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    title Project title
    meta(name="description" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="css/main.min.css")
    //[if lt IE 9]> <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script><script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script> <![endif]
  body
    header
      .container
        .menu#menu
          .left-side
            .logo-holder
              img(src="img/icons/logo.svg", alt="logo")
          .right-side
            ul
              li
                a(href="#") стать партнером
              li
                a(href="#") ru
            .logo-holder
              img(src="img/icons/text_logo.svg", alt="text logo")
            ul
              li
                a(href="#") контакты
              li.menu-toggle
                a(href="#") виды услуг
        .content-holder
          h1 smart security
          p наша задача: идентифицировать, управлять и смягчать риски
          ul.socials-holder
            li
              a(href="#")
                img(src="img/icons/facebook.svg", alt="fb")
            li
              a(href="#")
                img(src="img/icons/instagram.svg", alt="instagram")
            li
              a(href="#")
                img(src="img/icons/tweeter.svg", alt="tweeter")
        .sub-menu
          ul
            li
              a(href="#") охрана<br>физических лиц
            li
              a(href="#") перевозка<br>и сопровождение
            li
              a(href="#") перевозка<br>и сопровождение
            li
              a(href="#") перевозка<br>и сопровождение
            li
              a(href="#") перевозка<br>и сопровождение

          

