section.header
  .container
    .content-holder
      h1 smart security
      h4 наша задача: идентифицировать, управлять и смягчать риски
      ul.socials-holder
        li
          a(href="#")
            img(src="img/icons/facebook.svg", alt="fb")
        li
          a(href="#")
            img(src="img/icons/instagram.svg", alt="instagram")
        li
          a(href="#")
            img(src="img/icons/tweeter.svg", alt="tweeter")
    .sub-menu#js-sub-menu
      ul
          li
              a(href="#", data-scroll-to=3, data-emit-click='security') охрана<br>физических лиц
          li
              a(href="#", data-scroll-to=3, data-emit-click='transporting') перевозка<br>и сопровождение
          li
              a(href="#", data-scroll-to=3, data-emit-click='vip-estate') элитная<br>и недвижимость
          li
              a(href="#", data-scroll-to=3, data-emit-click='vip-buildings') охрана<br>vip заведений
          li
              a(href="#", data-scroll-to=3, data-emit-click='cyber-security') кибер<br>и безопасность