section.header
  .container
    .menu#menu
      .left-side
        .logo-holder
          img(src="img/icons/logo.svg", alt="logo")
      .right-side
        ul
          li
            a(href="#") стать партнером
          li
            a(href="#") ru
        .logo-holder
          img(src="img/icons/text_logo.svg", alt="text logo")
        ul
          li
            a(href="#") контакты
          li.menu-toggle#js-menu-toggle
            a(href="#") виды услуг
    .content-holder
      h1 smart security
      p наша задача: идентифицировать, управлять и смягчать риски
      ul.socials-holder
        li
          a(href="#")
            img(src="img/icons/facebook.svg", alt="fb")
        li
          a(href="#")
            img(src="img/icons/instagram.svg", alt="instagram")
        li
          a(href="#")
            img(src="img/icons/tweeter.svg", alt="tweeter")
    .sub-menu#js-sub-menu
      ul
          li
              a(href="#") охрана<br>физических лиц
          li
              a(href="#") перевозка<br>и сопровождение
          li
              a(href="#") перевозка<br>и сопровождение
          li
              a(href="#") перевозка<br>и сопровождение
          li
              a(href="#") перевозка<br>и сопровождение