section.header
  .container
    .content-holder
      h1 smart security
      h4 наша задача: идентифицировать, управлять и смягчать риски
      ul.socials-holder
        li
          a(href="#")
            img(src="img/icons/facebook.svg", alt="fb")
        li
          a(href="#")
            img(src="img/icons/instagram.svg", alt="instagram")
        li
          a(href="#")
            img(src="img/icons/tweeter.svg", alt="tweeter")
    .sub-menu#js-sub-menu
      ul
          li
              a(href="#") охрана<br>физических лиц
          li
              a(href="#") перевозка<br>и сопровождение
          li
              a(href="#") перевозка<br>и сопровождение
          li
              a(href="#") перевозка<br>и сопровождение
          li
              a(href="#") перевозка<br>и сопровождение