section.map
    .container.section-container
        .col
            .content-holder
                h1 контакты
                h3 Вул Сікорського 8. Офіс 11<br/>МІСТО КИЇВ, БЦ Флора Парк.
                h3 ТЕЛ. 067 777 90 44
                h3 INFO@SARMAT. COM
                h3 Copyright © SARMAT
    #map
    script.
      // Initialize and add the map
        function initMap() {
            // The location of Uluru
            var uluru = { lat: 50.4507781, lng: 30.5214974 };
            // The map, centered at Uluru
            var map = new google.maps.Map(document.getElementById("map"), {
                zoom: 17,
                center: uluru,
                disableDefaultUI: true,
                styles: [
                            {
                                "featureType": "all",
                                "elementType": "labels.text.fill",
                                "stylers": [
                                    {
                                        "saturation": 36
                                    },
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 40
                                    }
                                ]
                            },
                            {
                                "featureType": "all",
                                "elementType": "labels.text.stroke",
                                "stylers": [
                                    {
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 16
                                    }
                                ]
                            },
                            {
                                "featureType": "all",
                                "elementType": "labels.icon",
                                "stylers": [
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "geometry.fill",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 20
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 17
                                    },
                                    {
                                        "weight": 1.2
                                    }
                                ]
                            },
                            {
                                "featureType": "landscape",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 20
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 21
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry.fill",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 17
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry.stroke",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 29
                                    },
                                    {
                                        "weight": 0.2
                                    }
                                ]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 18
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 16
                                    }
                                ]
                            },
                            {
                                "featureType": "transit",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 19
                                    }
                                ]
                            },
                            {
                                "featureType": "water",
                                "elementType": "geometry",
                                "stylers": [
                                    {
                                        "color": "#000000"
                                    },
                                    {
                                        "lightness": 17
                                    }
                                ]
                            }
                        ]
            });
            // The marker, positioned at Uluru
            var marker = new google.maps.Marker({ position: uluru, map: map });
        }
    .footer
        .container
            .content-holder
                .left-side
                    ul.socials-holder
                        li
                            a(href="#")
                                img(src="img/icons/facebook.svg", alt="fb")
                        li
                            a(href="#")
                                img(src="img/icons/instagram.svg", alt="instagram")
                        li
                            a(href="#")
                                img(src="img/icons/tweeter.svg", alt="tweeter")
                .right-side
                    ul.contacts-holder.hide-mobile
                        li
                            h3 МІСТО КИЇВ, 
                            h3 БЦ Флора Парк.
                            h3 Вул Сікорського 8.
                            h3 Офіс 11
                        li
                            h3 ТЕЛ. 
                            h3 067 777 90 44<br/><br/>
                            h3 INFO@SARMAT. COM
                        li
                            img(src="img/icons/logo-alternate.svg", alt="logo-alternate")
                    ul.contacts-holder.show-mobile
                        li
                            h3 © 2018 SARMAT
                            h3 all rights reserved<br/><br/>
                            h3 дизайн: razöm


        