section.private-security
    .container.section-container
        .left-side
            .content-holder
                h1 охрана<br/>физических<br/>лиц
                p Комплексная охрана физических лиц, семьи, жилья, офиса и загородного дома. Комплексная охрана работает круглосуточно, ночью, днём, на несколько часов.
                button Заказать услугу
        .right-side
            .slider-holder
                #js-slider
                    .slide
                        img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")
                    .slide.content-slide
                        .left-side
                            p Тайно и открыто контролируем условия безопасности;
                    .slide
                        img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")
                    .slide
                        img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")
    ul.inner-sub-menu
        li.active
            img(src="img/icons/security.svg")
            h4 охрана<br/>физических лиц
            p Комплексная охрана физических лиц, семьи, жилья, офиса и заго-родного дома. Комплексная охрана работает круглосуточно, днем, ночью, на несколько часов
        li
            img(src="img/icons/transport.svg")
            h4 перевозка<br/>и сопровождение
            p Сопровождаем ценные бумаги, материальные ценности, важные грузы, лиц, которые перевозят ценный груз
        li
            img(src="img/icons/teritory.svg")
            h4 элитная<br/>недвижимость
            p Мы контролируем безопасность на любой территории
        li
            img(src="img/icons/vip.svg")
            h4 охрана<br/>vip заведений
            p Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы
        li
            img(src="img/icons/vip2.svg")
            h4 охрана<br/>vip заведений
            p Мы защищаем информационное пространство бизнеса