section.private-security
    .container.section-container
        .col
            .content-holder#js-content-holder
                h1 охрана<br/>физических<br/>лиц
                p Комплексная охрана физических лиц, семьи, жилья, офиса и загородного дома. Комплексная охрана работает круглосуточно, ночью, днём, на несколько часов.
                button#js-show-form Заказать услугу
            .content-holder.form-holder#js-form-holder
                .form-content
                    form
                        input(type="text" placeholder="имя")
                        input(type="text" placeholder="email")
                        input(type="text" placeholder="номер телефона")
                    button(type="submit")#js-form-submit Заказать услугу
                    img.cross(src="img/icons/cross.svg", alt="cross")
            .content-holder.form-holder#js-thanks-holder
                .thanks-content
                    h2 Спасибо
                    h4 менеджер сармат свяжется с вами после обработки запроса
                    img.cross#js-close-form(src="img/icons/cross.svg", alt="cross")
        .col
            .slider-holder
                .section-slider#js-security-slider
                    .slide
                        img(src="img/pictures/personal-security.jpg", alt="personal-security")
                    .slide.content-slide
                        .left-side
                            p Тайно и открыто контролируем условия безопасности;
                            p Проверяем жильё и часто посещаемые места;
                            p При необходимости устанавливаем системы слежения;
                            p Взаимодействуем с правоохранительными органами;
                            p В непредвиденной опасности телохранители и группа охраны блокируют доступ к охраняемым лицам и помещениям.
                        .right-side
                            h2 как мы<br/>охраняем
                    .slide.content-slide.straight
                        h2.underlined телохранители
                        p Цель телохранителя – не допустить угрозу жизни.
                        p Телохранитель SARMAT – эмоционально устойчивый человек с серьёзной физической подготовкой:как минимум КМС по полноконтактным видам спорта. Телохранители мастерски владеют оружием. У каждого всегда при себе полуавтоматическое нарезное или гладкоствольное охотничье оружие.
                        .inner-row.underlined
                            .left-side
                                h2 охрана членов<br/>семей и детей
                            .right-side
                                h2 встреча<br/>в аэропорту
                        h2 сопровождение за границу
                    .slide.content-slide.straight
                        h2.underlined vip сопровождение
                        p VIP-сопровождение для гостей, высокопоставленных персон,<br/>делегаций или резидентов столицы.
                        ul
                            li 
                                p • Встречаем в аэропорту, на вокзале;
                            li 
                                p • Охраняем и сопровождаем<br/>в передвижениях по столице, стране, загранице;
                            li 
                                p • Разрабатываем маршруты, проверяем все пути передвижения.
                            li 
                                p • Выявляя опасные точки, корректируем маршруты, чтобы<br/>передвижение стало безопасным.
                        p Телохранитель с навыками экстре-мального вождения контролирует безопасностьв любой ситуации – в передвижениях по стране,на отдыхе или в командировке заграницей.
                        p VIP-сопровождение возможно на автомобиле SARMAT или на любом другом автомобиле из нижеперечисленных:
                        ul.list
                            li Mercedes-Benz G 350 AMG Diesel 2013
                            li Volkswagen Multivan 4-MOTION 2013
                            li Toyota Land Cruiser 200 Special Edition 2017
                            li Toyota Camry 2.5 2012
                            li Mercedes-Benz W222 2017
                            li Mercedes-Benz V 250 4-MATIC LONG 2017
                    .slide.inner-slider
                        .section-inner-slider#js-security-inner-slider
                            .slide 
                                img(src="img/pictures/mercedess.png", alt="mercedess")
                                .inner-slider-info
                                    p Mercedes-Benz G 350vAMG Diesel 2013
                                    h2 выбор автомобиля
                            .slide 
                                img(src="img/pictures/mercedess.png", alt="mercedess")
                                .inner-slider-info
                                    p Mercedes-Benz G 350vAMG Diesel 2013
                                    h2 выбор автомобиля
                    //- .slide
                    //-     img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")
                    //- .slide
                    //-     img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")
    ul.inner-sub-menu
        li.active
            img(src="img/icons/security-active.svg")
            h4 охрана<br/>физических лиц
            p Комплексная охрана физических лиц, семьи, жилья, офиса и заго-родного дома. Комплексная охрана работает круглосуточно, днем, ночью, на несколько часов
        li
            img(src="img/icons/transport.svg")
            h4 перевозка<br/>и сопровождение
            p Сопровождаем ценные бумаги, материальные ценности, важные грузы, лиц, которые перевозят ценный груз
        li
            img(src="img/icons/teritory.svg")
            h4 элитная<br/>недвижимость
            p Мы контролируем безопасность на любой территории
        li
            img(src="img/icons/vip.svg")
            h4 охрана<br/>vip заведений
            p Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы
        li
            img(src="img/icons/vip2.svg")
            h4 охрана<br/>vip заведений
            p Мы защищаем информационное пространство бизнеса