section.private-security
    .container.section-container
        .left-side
            .content-holder
                h1 охрана<br/>физических<br/>лиц
                p Комплексная охрана физических лиц, семьи, жилья, офиса и загородного дома. Комплексная охрана работает круглосуточно, ночью, днём, на несколько часов.
                button Заказать услугу
        .right-side
            .slider-holder
                #js-slider
                    img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")
                    img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")
                    img(src="img/pictures/avoid-assasination.jpg", alt="avoid-assasination")