section.inner-section.desktop-services
    .container.section-container.service.service-active#service-security
        .col
            .content-holder#js-content-holder
                h1 охрана<br/>физических<br/>лиц
                p Комплексная охрана физических лиц, семьи, жилья, офиса и загородного дома. Комплексная охрана работает круглосуточно, ночью, днём, на несколько часов.
                button#js-show-form Заказать услугу
            .content-holder.form-holder#js-form-holder
                .form-content
                    form
                        input(type="text" placeholder="имя")
                        input(type="text" placeholder="email")
                        input(type="text" placeholder="номер телефона")
                    button(type="submit")#js-form-submit Заказать услугу
                    img.cross(src="img/icons/cross.svg", alt="cross")
            .content-holder.form-holder#js-thanks-holder
                .thanks-content
                    h2 Спасибо
                    h4 менеджер сармат свяжется с вами после обработки запроса
                    img.cross#js-close-form(src="img/icons/cross.svg", alt="cross")
        .col
            .slider-holder
                .section-slider#js-security-slider
                    .slide
                        img(src="img/pictures/personal-security.jpg", alt="personal-security")
                    .slide.content-slide
                        .left-side
                            p Тайно и открыто контролируем условия безопасности;
                            p Проверяем жильё и часто посещаемые места;
                            p При необходимости устанавливаем системы слежения;
                            p.hide-mobile Взаимодействуем с правоохранительными органами;
                            p.hide-mobile В непредвиденной опасности телохранители и группа охраны блокируют доступ к охраняемым лицам и помещениям.
                        .right-side
                            h2 как мы<br/>охраняем
                    .slide.content-slide.show-mobile
                        .left-side
                            p Взаимодействуем с правоохранительными органами;
                            p В непредвиденной опасности телохранители и группа охраны блокируют доступ к охраняемым лицам и помещениям.
                        .right-side
                            h2 как мы<br/>охраняем
                    .slide.content-slide.straight.hide-mobile
                        h2.underlined телохранители
                        p Цель телохранителя – не допустить угрозу жизни.
                        p Телохранитель SARMAT – эмоционально устойчивый человек с серьёзной физической подготовкой:как минимум КМС по полноконтактным видам спорта. Телохранители мастерски владеют оружием. У каждого всегда при себе полуавтоматическое нарезное или гладкоствольное охотничье оружие.
                        .inner-row.underlined
                            .left-side
                                h2 охрана членов<br/>семей и детей
                            .right-side
                                h2 встреча<br/>в аэропорту
                        h2 сопровождение за границу
                    .slide.content-slide.show-mobile
                        .left-side
                            p Цель телохранителя – не допустить угрозу жизни.
                            p Телохранитель SARMAT – эмоционально устойчивый человек с серьёзной физической подготовкой:как минимум КМС по полноконтактным видам спорта. Телохранители мастерски владеют оружием.
                        .right-side
                            h2 тело-<br/>хранители
                    .slide.content-slide.straight.alternate.show-mobile
                        .inner-row.underlined
                            .left-side
                                h2 охрана членов<br/>семей и детей
                            .right-side
                                h2 встреча<br/>в аэропорту
                        h2 сопровождение за границу
                    .slide.content-slide.straight.hide-mobile
                        h2.underlined vip сопровождение
                        p VIP-сопровождение для гостей, высокопоставленных персон,<br/>делегаций или резидентов столицы.
                        ul
                            li 
                                p • Встречаем в аэропорту, на вокзале;
                            li 
                                p • Охраняем и сопровождаем<br/>в передвижениях по столице, стране, загранице;
                            li 
                                p • Разрабатываем маршруты, проверяем все пути передвижения.
                            li 
                                p • Выявляя опасные точки, корректируем маршруты, чтобы<br/>передвижение стало безопасным.
                        p Телохранитель с навыками экстре-мального вождения контролирует безопасностьв любой ситуации – в передвижениях по стране,на отдыхе или в командировке заграницей.
                        p VIP-сопровождение возможно на автомобиле SARMAT или на любом другом автомобиле из нижеперечисленных:
                        ul.list
                            li Mercedes-Benz G 350 AMG Diesel 2013
                            li Volkswagen Multivan 4-MOTION 2013
                            li Toyota Land Cruiser 200 Special Edition 2017
                            //- li Toyota Camry 2.5 2012
                            //- li Mercedes-Benz W222 2017
                            //- li Mercedes-Benz V 250 4-MATIC LONG 2017
                    .slide.content-slide.show-mobile
                        .left-side
                            ul
                                li 
                                    p • Встречаем в аэропорту, на вокзале;
                                li 
                                    p • Охраняем и сопровождаем<br/>в передвижениях по столице, стране, загранице;
                                li 
                                    p • Разрабатываем маршруты, проверяем все пути передвижения.
                        .right-side
                            h2 vip сопро-<br/>вождение
                    .slide.inner-slider.hide-mobile
                        .section-inner-slider#js-security-inner-slider
                            .slide 
                                img(src="img/pictures/mercedess.png", alt="mercedess")
                                .inner-slider-info
                                    p Mercedes-Benz G 350vAMG Diesel 2013
                                    h2 выбор автомобиля
                            .slide 
                                img(src="img/pictures/mercedess.png", alt="mercedess")
                                .inner-slider-info
                                    p Mercedes-Benz G 350vAMG Diesel 2013
                                    h2 выбор автомобиля
    .container.section-container.service#service-transporting
        .col
            .content-holder
                h1.hide-mobile перевозка <br/>и сопровож-<br/>дение
                h1.show-mobile перевозка <br/>и сопровождение
                p Сопровождаем ценные бумаги, материальные ценности, важные грузы, лиц, которые перевозят ценный груз
                button Заказать услугу
        .col
            .slider-holder
                .section-slider#js-transporting-slider
                    .slide
                        img(src="img/pictures/transporting.jpg", alt="transporting")
                    .slide.content-slide
                        .left-side
                            p Разрабатываем план сопровождения груза;
                            p Тайно и открыто контролируем условия безопасности;
                            p Выстраиваем самый безопасный и надёжный маршрут;
                            p.hide-mobile Определяем запасные маршруты;
                            p.hide-mobile Во время перевозки контролируем состояние груза.
                            h4.hide-mobile Гарантируем конфиденциальность и абсолютную сохранность драгоценного груза
                        .right-side
                            h2 как мы<br/>работаем
                    .slide.content-slide.show-mobile
                        .left-side
                            p Определяем запасные маршруты;
                            p Во время перевозки контролируем состояние груза.
                            p Гарантируем конфиденциальность и абсолютную сохранность драгоценного груза
                        .right-side
                            h2 как мы<br/>работаем
    .container.section-container.service#service-vip-estate
        .col
            .content-holder
                h1.hide-mobile элитная <br/>недви-<br/>жимость
                h1.show-mobile элитная <br/>недвижимость
                p Мы контролируем безопасность на любой территории
                button Заказать услугу
        .col
            .slider-holder
                .section-slider#js-vip-estate-slider
                    .slide
                        img(src="img/pictures/vip-estate.jpg", alt="vip-estate")
                    .slide.content-slide.hide-mobile
                        .left-side
                            p Разрабатываем стратегию безопасности недвижимости и территории;
                            p Группа охраны непрерывно контролирует происхо-дящее на всей территории. Для полноценного контроля используем все доступные каналы видеонаблюдения: камеры слежения по периметру территории и в помещениях, квадрокоптеры;
                            p Блокируем несанкционированный доступ на объекты;
                            p Решаем конфликты на территории недвижимости.
                        .right-side
                            h2 как мы<br/>охраняем
                    .slide.content-slide.show-mobile
                        .left-side
                            p Разрабатываем стратегию безопасности недвижимости и территории;
                            p Группа охраны непрерывно контролирует происхо-дящее на всей территории.
                        .right-side
                            h2 как мы<br/>охраняем
                    .slide.content-slide.show-mobile
                        .left-side
                            p Используем все доступные каналы видеонаблюдения: камеры слежения по периметру территории и в помещениях, квадрокоптеры;
                            p Блокируем несанкционированный доступ на объекты;
                        .right-side
                            h2 как мы<br/>охраняем
    .container.section-container.service#service-vip-buildings
        .col
            .content-holder
                h1.hide-mobile охрана <br/>vip<br/>заведений
                h1.show-mobile охрана <br/>vip заведений
                p Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы

                button Заказать услугу
        .col
            .slider-holder
                .section-slider#js-vip-buildings-slider
                    .slide
                        img(src="img/pictures/vip-buildings.jpg", alt="vip-buildings")
                    .slide.content-slide
                        .left-side
                            p Разрабатываем стратегию безопасности заведения, гостей и персонала;
                            p Группа охраны контролирует безопасность визуальным наблюдением и техническими средствами –видеонаблюдение и досмотровое оборудование;
                            p.hide-mobile Работаем над профилактикой возникновения экстренных ситуаций и опасности;
                            h4.hide-mobile Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы.
                        .right-side
                            h2 как мы<br/>охраняем
                    .slide.content-slide.show-mobile
                        .left-side
                            p Работаем над профилактикой возникновения экстренных ситуаций и опасности;
                            p Решаем конфликты внутри заведения.
                        .right-side
    .container.section-container.service#service-cyber-security
        .col
            .content-holder
                h1.hide-mobile кибер<br/>безопасность
                h1.show-mobile кибербезопасность
                p Мы защищаем информационное пространство бизнеса
                button Заказать услугу
        .col
            .slider-holder
                .section-slider#js-cyber-security-slider
                    .slide
                        img(src="img/pictures/cyber-security.jpg", alt="cyber-security")
                    .slide.content-slide
                        .left-side
                            p Разрабатываем систему защиты онлайн активности бизнеса и ключевых сотрудников;
                            p Защищаем онлайн активности бизнеса от несанкционированных действий – неавторизированное копирование, обход лицензионных ограничений;
                            p.hide-mobile Контролируем безопасность внутренних коммуникаций изнеса, информационной системы офиса и персонала.
                        .right-side
                            h2 персональная<br/>безопасность<br/>и безопасность<br/>бизнеса
                    .slide.content-slide
                        .left-side
                            p Анализируем существующие информационные системы;
                            p Разрабатываем систему информационной безопасности бизнеса;
                            p Разрабатываем план рекомендаций по оптимальным способам защиты онлайн ресурсов;
                            p.hide-mobile  Проверяем надёжность защиты онлайн ресурсов, тестируя систему на проникновение. Чтобы выявить и устранить уязвимые места, мы подконтрольно генерируем большую нагрузку на всех уровнях сетевых протоколов, выявляем и устраняем уязвимые места.
                        .right-side
                            h2 проектирование<br/>и реализация<br/>стратегии<br/>защиты
                    .slide.content-slide
                        .left-side
                            p Если инцидент вторжения уже произошёл, мы:
                            p Разрабатываем инструменты оперативной помощи атакованным системам;
                            p Отслеживаем и обезвреживаем контрольные центры редоносных ПО;
                            p.hide-mobile Расследуем инцидент ­– проводим криминалистическую экспертизу и готовим пакет документов для уголовного дела;
                            p.hide-mobile Составляем план работы по предотвращению инцидентов этого типа.
                        .right-side
                            h2 обработка<br/>инцидентов<br/>компьютерной<br/>забезопасности
    ul.inner-sub-menu
        li.active(data-triger="security")
            img(src="img/icons/security-active.svg")
            h4 охрана<br/>физических лиц
            p Комплексная охрана физических лиц, семьи, жилья, офиса и заго-родного дома. Комплексная охрана работает круглосуточно, днем, ночью, на несколько часов
        li(data-triger="transporting")
            img(src="img/icons/transport.svg")
            h4 перевозка<br/>и сопровождение
            p Сопровождаем ценные бумаги, материальные ценности, важные грузы, лиц, которые перевозят ценный груз
        li(data-triger="vip-estate")
            img(src="img/icons/teritory.svg")
            h4 элитная<br/>недвижимость
            p Мы контролируем безопасность на любой территории
        li(data-triger="vip-buildings")
            img(src="img/icons/vip.svg")
            h4 охрана<br/>vip заведений
            p Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы
        li(data-triger="cyber-security")
            img(src="img/icons/vip2.svg")
            h4 охрана<br/>vip заведений
            p Мы защищаем информационное пространство бизнеса