section.inner-section.vip-buildings.mobile-services
    .container.section-container
        .col
            .content-holder.js-content-holder
                h1.hide-mobile охрана <br/>vip<br/>заведений
                h1.show-mobile охрана <br/>vip заведений
                p Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы
                button.js-show-form  Заказать услугу
            .content-holder.form-holder.js-form-holder
                .form-content
                    form
                        input(type="text" placeholder="имя")
                        input(type="text" placeholder="email")
                        input(type="text" placeholder="номер телефона")
                    button(type="submit").js-form-submit Заказать услугу
                    img.cross.js-close-form(src="img/icons/cross.svg", alt="cross")
            .content-holder.form-holder.js-thanks-holder
                .thanks-content
                    h2 Спасибо
                    h4 менеджер сармат свяжется с вами после обработки запроса
                    img.cross.js-close-form(src="img/icons/cross.svg", alt="cross")
        .col
            .slider-holder
                .section-slider#js-vip-buildings-slider
                    .slide
                        img(src="img/pictures/vip-buildings.jpg", alt="vip-buildings")
                    .slide.content-slide
                        .left-side
                            p Разрабатываем стратегию безопасности заведения, гостей и персонала;
                            p Группа охраны контролирует безопасность визуальным наблюдением и техническими средствами –видеонаблюдение и досмотровое оборудование;
                            p.hide-mobile Работаем над профилактикой возникновения экстренных ситуаций и опасности;
                            h4.hide-mobile Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы.
                        .right-side
                            h2 как мы<br/>охраняем
                    .slide.content-slide.show-mobile
                        .left-side
                            p Работаем над профилактикой возникновения экстренных ситуаций и опасности;
                            p Решаем конфликты внутри заведения.
                        .right-side
                            h2 как мы<br/>охраняем
    ul.inner-sub-menu
        li
            img(src="img/icons/security.svg")
            h4 охрана<br/>физических лиц
            p Комплексная охрана физических лиц, семьи, жилья, офиса и заго-родного дома. Комплексная охрана работает круглосуточно, днем, ночью, на несколько часов
        li
            img(src="img/icons/transport.svg")
            h4 перевозка<br/>и сопровождение
            p Сопровождаем ценные бумаги, материальные ценности, важные грузы, лиц, которые перевозят ценный груз
        li
            img(src="img/icons/vip-estate.svg")
            h4 элитная<br/>недвижимость
            p Мы контролируем безопасность на любой территории
        li.active
            img(src="img/icons/vip-buildings-active.svg")
            h4 охрана<br/>vip заведений
            p Мы контролируем безопасность в заведении любого типа. Охраняем рестораны, клубы, загородные комплексы
        li
            img(src="img/icons/vip2.svg")
            h4 охрана<br/>vip заведений
            p Мы защищаем информационное пространство бизнеса