//- header
include ./partials/header

.main
  //- include ./partials/sub-menu
  include ./sections/hero
  include ./sections/avoid-assasination
  include ./sections/private-security
  include ./sections/transporting
  include ./sections/vip-estate

//- footer
include ./partials/footer