//- header
include ./partials/header
include ./partials/menu
include ./sections/mobile-form

.main
  include ./sections/hero
  include ./sections/avoid-assasination
  include ./sections/services
  include ./sections/private-security
  include ./sections/transporting
  include ./sections/vip-estate
  include ./sections/vip-buildings
  include ./sections/cyber-security
  include ./sections/become-partner
  include ./sections/map

//- footer
include ./partials/footer