//- header
include ./partials/header

.main
  //- include ./partials/sub-menu
  //- include ./sections/hero
  //- include ./sections/avoid-assasination
  //- include ./sections/private-security
  //- include ./sections/transporting
  //- include ./sections/vip-estate
  //- include ./sections/vip-buildings
  //- include ./sections/cyber-security
  include ./sections/become-partner

//- footer
include ./partials/footer