@import "modules/vars.scss";
@import "modules/mixins.scss";
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  letter-spacing: 1.5px;
  overflow: scroll;
}

.container {
  width: 75%;
  margin: 0 auto;
  &.section-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .left-side,
    .right-side {
      width: 50%;
      p {
        max-width: 315px;
        margin-top: 20px;
        font-size: 13px;
        line-height: 15px;
        color: #ffffff;
        letter-spacing: 0;
      }
      button {
        margin-top: 20px;
      }
    }
    .left-side {
      background-color: $main-grey;
      .content-holder {
        margin-left: 35%;
      }
    }
    .right-side {
      background-color: $light-grey;
    }
  }
}

h1 {
  font-family: "HeadingCompressedPro", Arial, sans-serif;
  font-weight: 700;
  font-size: 81px;
  line-height: 99px;
  letter-spacing: 0;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

button,
.btn {
  width: 220px;
  height: 46px;
  background: $blue;
  border-radius: 10px;
  outline: none;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-align: center;
}

// @keyframes blur {
//     0% {
//         -webkit-filter: blur(0);
//         filter: blur(0);
//     }
//     to {
//         -webkit-filter: blur(25px);
//         filter: blur(25px);
//     }
// }
